altgraph==0.17.4
asgiref==3.7.2
bcml==3.10.8
botw-utils==0.2.3
cefpython3==66.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
clr-loader==0.2.5
Django==5.0.1
idna==3.4
mysqlclient==2.1.1
oead==1.2.6.post1
packaging==23.2
pefile==2023.2.7
prettytable==3.7.0
protobuf==3.20.3
proxy-tools==0.1.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.0.9
pythonnet==3.0.1
pywebview==3.7.2
pywin32-ctypes==0.2.2
requests==2.27.1
rstb==1.2.2
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
wcwidth==0.2.6
xxhash==3.2.0
